
<div style="margin-top: 20px">
<div class="container">
	<nav class="col-md-2">

    <div>
      <ul class="nav nav-pills nav-stacked">
        <li role="presentation"><a [routerLink]="[{ outlets: { board: ['charts'] } }]">CHARTS</a></li>
        <li role="presentation"><a [routerLink]="[{ outlets: { board: ['employeelist'] } }]">EMP LIST</a></li>
        <li role="presentation"><a href="#"><span class="glyphicon glyphicon-off" style="margin-right: 5px"></span>LOGOUT</a></li>
      </ul>
    </div>


  </nav>

	<section class="col-md-10">
		<router-outlet name='board'></router-outlet>
	</section>


</div>

</div>
